---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<h2>Publications</h2>

{% for item in site.portfolio %}
  {% if item.type == "publication" %}
    <details class="archive__item">
      <summary class="archive__item-title">{{ item.title }}</summary>
      <div class="archive__item-desc">{{ item.description | markdownify }}</div>
    </details>
  {% endif %}
{% endfor %}

<h2>Projects</h2>
<p class="section-subtitle"><em>From University Courses</em></p>

{% for item in site.portfolio %}
  {% if item.type == "project" %}
    <details class="archive__item">
      <summary class="archive__item-title">{{ item.title }}</summary>
      <div class="archive__item-desc">{{ item.description | markdownify }}</div>
    </details>
  {% endif %}
{% endfor %}
